<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hexagon_talent.geundaero.domain.tour.dao.TourDAO">

    <resultMap id="TourLocationMap" type="hexagon_talent.geundaero.domain.tour.entity.TourLocation">
        <id property="id" column="id"/>
        <result property="contentId" column="content_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="lng" column="lng"/>
        <result property="lat" column="lat"/>
        <result property="polygonWkt" column="polygon_wkt"/>
    </resultMap>

    <select id="findById" resultMap="TourLocationMap">
        SELECT
        id, content_id, title, description,
        ST_X(center_point) AS lng,
        ST_Y(center_point) AS lat,
        ST_AsText(edge_points) AS polygon_wkt
        FROM tour_location
        WHERE id = #{id}
    </select>

</mapper>